/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Marquee.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
/* components/Marquee.module.css */
.Marquee_marquee__nBaAi {
  overflow: hidden;
  white-space: nowrap;
  position: fixed; /* Fixes it at the bottom */
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8); /* Optional: background color */
  color: rgb(132, 204, 22); /* Text color */
  height: 50px; /* Adjust height as needed */
  line-height: 50px; /* Adjust to center text vertically */
}

.Marquee_marqueeContent__o4bI9 {
  display: flex; /* Flexbox for horizontal scrolling */
  width: 200%; /* Ensure it’s wide enough to cover the viewport */
  animation: Marquee_marquee__nBaAi 20s linear infinite; /* Adjust duration for smooth scrolling */
}

.Marquee_marqueeText__oapV_ {
  display: inline-block;
  margin-right: 2rem; /* Space between texts */
}

@keyframes Marquee_marquee__nBaAi {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

